@inject IViewLocalizer localizer
@model FileSharing.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = @localizer["Title"];
}

@if(TempData["SuccessForget"] != null)
{
    <div class="alert alert-success text-center">
		    <h2>
				@TempData["SuccessForgot"];
			</h2>
	</div>
}

<section id="mu-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-contact-area" style="padding-top:0px">
							<!-- Title -->
							<div class="row">
								<div class="col-md-12">
									<div class="mu-title">
										<h2>@localizer["Title"]</h2>
									</div>
								</div>
							</div>
								<!-- Start Contact Content -->
							<div class="mu-contact-content">
								<div class="row">
									<div class="col-md-12">
										<div class="mu-contact-form-area">
											<div id="form-messages"></div>
											<form  method="post" asp-action="ForgotPassword" asp-controller="Account" class="mu-contact-form">
												<div class="form-group">  
													<span class="fa fa-user mu-contact-icon"></span>              
													<input type="email" class="form-control" asp-for="Email" placeholder="@localizer["EmailLabel"]" required>
													<strong><span asp-validation-for="Email"></span></strong>
												</div>
												<button type="submit" class="mu-send-msg-btn"><span>@localizer["ResetBtn"]</span></button>
								        	</form>
										</div>
									</div>
								</div>
							</div>
							<!-- End Contact Content -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
