@inject IViewLocalizer localizer
@model FileSharing.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = @localizer["Title"];
}


@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger text-center"></div>
}

@if(TempData["TokenFailed"] != null)
{
    <div class="alert alert-success text-center">
		    <h2>
				@TempData["TokenFailed"];
			</h2>
	</div>
}


@if(TempData["SuccessResetPassword"] != null)
{
	<div class="alert alert-success text-center">
		<h2>
			@TempData["SuccessResetPassword"]
		</h2>
	</div>
}

<section id="mu-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-contact-area" style="padding-top:0px">
							<!-- Title -->
							<div class="row">
								<div class="col-md-12">
									<div class="mu-title">
										<h2>@localizer["Title"]</h2>
									</div>
								</div>
							</div>
								<!-- Start Contact Content -->
							<div class="mu-contact-content">
								<div class="row">
									<div class="col-md-12">
										<div class="mu-contact-form-area">
											<div id="form-messages"></div>
											<form  method="post" asp-action="ResetPassword" asp-controller="Account" class="mu-contact-form">
												<div class="form-group">  
													<span class="fa fa-user mu-contact-icon"></span>              
													<input type="password" class="form-control" asp-for="NewPassword" placeholder="@localizer["NewPasswordLabel"]" required>
													<strong><span asp-validation-for="NewPassword"></span></strong>
												</div>
												<div class="form-group">  
													<span class="fa fa-user mu-contact-icon"></span>              
													<input type="password" class="form-control" asp-for="ConfirmNewPassword" placeholder="@localizer["ConfirmNewPasswordLabel"]" required>
													<strong><span asp-validation-for="ConfirmNewPassword"></span></strong>
												</div>
												<input type="hidden" asp-for="Token" value="@Context.Request.Query["Token"]" />
												<input type="hidden" asp-for="Email" value="@Context.Request.Query["Email"]" />
												<button type="submit" class="mu-send-msg-btn"><span>@localizer["Save"]</span></button>
								        	</form>
										</div>
									</div>
								</div>
							</div>
							<!-- End Contact Content -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
